@model IEnumerable<GFVHaveserviceSQL.Models.ContactSubmission>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<h2>@Localizer["ContactSubmissions"]</h2>
<table class="table table-striped table-hover">
    <tr>
        <th>@Localizer["Name"]</th>
        <th>@Localizer["Email"]</th>
        <th>@Localizer["Phone"]</th>
        <th>@Localizer["PlaceOfWork"]</th>
        <th>@Localizer["Description"]</th>
        <th>@Localizer["Date"]</th>
        <th>@Localizer["Seen"]</th>
        <th></th>
    </tr>
@foreach (var item in Model)
{
    <tr>
        <td>@item.Name</td>
        <td>@item.Email</td>
        <td>@item.Phone</td>
        <td>@item.PlaceOfWork</td>
        <td>@item.Description</td>
        <td>@item.SubmittedOn.ToString("g")</td>
        <td>@(item.IsSeen ? Localizer["Yes"] : Localizer["No"])</td>
        <td>
            @if (!item.IsSeen)
            {
                <form asp-action="MarkSeen" method="post">
                    <input type="hidden" name="id" value="@item.Id" />
                    <button type="submit" class="btn btn-sm btn-primary">@Localizer["MarkSeen"]</button>
                </form>
            }
        </td>
    </tr>
}
</table>
